<div class="container">
  <div class="row">
    
    <%= render 'contact_form' %>  

    <div class="col-md-4">
      <div class="email text-center">
        <p><a href="tel:+303-898-9070">Call 303.898.9070</a></p>
        <p><strong>OR</strong></p>
        <p>Email <a href="mailto:jeanelle@modphotolounge.com?Subject=Hello%20I've%20Got%20A%20Photo%20Lounge%20Question" target="_top">jeanelle@modphotolounge.com</a></p>
      </div>

    </div>

  </div>    
</div>
