<div class="container">
  <h1 class="text-center">Premier Photo Booth Rental in Denver, <small>With a Twist</small></h1>

  <div class="col-md-10 offset-md-1">
    <div class="theme-dark">
      <%= nivo_slider id: "slider" do %>
        <%= image_tag('slide1.png') %>
        <%= image_tag('slide2.jpg') %>
      <% end %>
    </div>  
  </div>

</div>  
