<div class="container">
  <h1>Photo Gallery</h1>

  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4 text-center">  
        <h3><%= photo.title %></h3>
      </div>  
    <% end %>
  </div>    

  <%= link_to 'New Event', new_photo_path, class: 'btn btn-primary' %>

</div>  