@import "bootstrap";

/* Show it is fixed to the top */
body {
  // min-height: 50rem;
  padding-top: 7rem;
}

// Navbar

.navbar {
  background: rgba(248, 248, 248, 0.9);
  padding: 0 1rem;
  button.navbar-toggler.navbar-toggler-right {
    margin-top: 25px;
    border-color: #999;
  }
  .navbar-text {
    color: #e74c3c;
    font-weight: bold;
  }
}

.navbar-light {
  font-size: 18px;
  .navbar-brand {
    padding: 0;
  }
  li > a {
    color: #777;
    &:hover {
      color: #333;
    }
  }
}
