@import "bootstrap";
@import "bootstrap-datepicker";
@import "nivo";
@import "font-awesome";

$gray-light: #999;
$gray: #555;

/* Show it is fixed to the top */
body {
  // min-height: 50rem;
  padding-top: 7rem;
  font-family: 'Alegreya Sans', sans-serif;
}

// Navbar

.navbar {
  font-family: 'Alegreya Sans SC', sans-serif;
  background: rgba(248, 248, 248, 0.9);
  padding: 0 1rem;
  button.navbar-toggler.navbar-toggler-right {
    margin-top: 25px;
    border-color: #999;
  }
  .navbar-text {
    color: #e74c3c;
    font-weight: bold;
  }
}

.navbar-light {
  font-size: 20px;
  .navbar-brand {
    padding: 0;
  }
  li > a {
    color: #777;
    &:hover {
      color: #333;
    }
  }
}

// Slider

.slider {
  h1 {
    padding: 0 0 20px 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: lighter;
  }
  .theme-dark {
    margin: 40px 0;
    // border: 2px solid #ececec;
    border-radius: 4px;
    .nivoSlider {
      margin-bottom: 0;
    }
  }

  .theme-dark .nivo-directionNav a {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 40px;
    text-indent: -9999px;
    border: 0;
    top: auto;
    bottom: -36px;
    z-index: 11;
    border-radius: 2px;
    &:hover {
      background-color: transparent;
    }
  }

  .theme-dark a.nivo-prevNav {
    background-image: url(home/slider/prev.png);
    background-size: contain;
    background-position: center;
    top: 175px;
    left: 0;
    &:hover {
      background-image: url(home/slider/prev-hover.png);
    }
  }

  .theme-dark a.nivo-nextNav {
    background-image: url(home/slider/next.png);
    background-size: contain;
    background-position: center;
    top: 175px; 
    right: 0;
    &:hover {
      background-image: url(home/slider/next-hover.png);
    }
  }
}

@media (max-width: 991px) {
  .theme-dark a.nivo-prevNav {
    top: 100px;
  }

  .theme-dark a.nivo-nextNav {
    top: 100px; 
  }
}

@media (max-width: 767px) {
  .theme-dark a.nivo-prevNav {
    top: 60px;
  }

  .theme-dark a.nivo-nextNav {
    top: 60px;
  }
}

@media (max-width: 575px) {
  .theme-dark a.nivo-prevNav {
    top: 100px;
  }

  .theme-dark a.nivo-nextNav {
    top: 100px; 
  }
}

.newsletter {
  margin: 10px 0 30px 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: lighter;
  label {
    font-weight: lighter;
  }
  input {
    margin: 0 5px 0 5px;
    font-size: 24px;
  }
}

.gallery {
  .container-fluid {
    padding-right: 0;
  }
  margin-bottom: 0;
  margin-right: 0;
  padding-bottom: 0;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.8);
  .col-md-3 {
    margin: 0;
    padding: 0;
  }
}

#booth {
  margin-top: 40px;
  font-family: 'Alegreya Sans', sans-serif;
  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 50px;
    color: $gray-light;
  }
  h2 {
    font-size: 50px;
    color: $gray-light;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 0;
    color: $gray-light;
    font-size: 30px;
  }
  p {
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    strong {
      font-family: 'Alegreya SC', serif;
      font-weight: normal;
      color: $gray;
    }
  }
  [class^="fa fa-camera-retro"] {
    color: $gray-light;
  }
}

#info {
  margin-top: 40px;
  padding: 20px 0 20px 0;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.8);
  h2 {
    font-size: 50px;
    color: $gray-light;
    padding-bottom: 20px;
  }
  h3 {
    color: $gray;
    font-size: 26px;
    font-family: 'Alegreya SC', serif;
  }
  p {
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    strong {
      font-family: 'Alegreya SC', serif;
      font-weight: normal;
      color: $gray;
    }
  }
  .left {
    span {
      text-align: center;
      [class^="fa fa-"] {
        padding-bottom: 30px;
        color: $gray-light;
      } 
    }
  } 
}

.card {
  margin: 40px 0;
  font-size: 18px;
}

.email {
  margin-top: 40px;
  p {
    font-size: 20px;
    strong {
      font-size: 40px;
    }
  }
}

footer {
  padding: 40px 0 10px 0;
  span {
    text-align: center;
    [class^="fa fa-"] {
      color: $gray-light;
    } 
    [class^="fa fa-"]+[class^="fa fa-"] {
      margin-right: 30px;
    }
    [class^="fa fa-instagram"] {
      &:hover {
        color: #3f729b;
      }
    }
    [class^="fa fa-facebook-square"] {
      &:hover {
        color: #3B5998;
      }
    }
    [class^="fa fa-tumblr-square"] {
      &:hover {
        color: #00225F;
      }
    }
    [class^="fa fa-twitter-square"] {
      &:hover {
        color: #4099FF;
      }
    }
  }
}





