@import "bootstrap";
@import "nivo";

/* Show it is fixed to the top */
body {
  // min-height: 50rem;
  padding-top: 7rem;
}

// Navbar

.navbar {
  background: rgba(248, 248, 248, 0.9);
  padding: 0 1rem;
  button.navbar-toggler.navbar-toggler-right {
    margin-top: 25px;
    border-color: #999;
  }
  .navbar-text {
    color: #e74c3c;
    font-weight: bold;
  }
}

.navbar-light {
  font-size: 18px;
  .navbar-brand {
    padding: 0;
  }
  li > a {
    color: #777;
    &:hover {
      color: #333;
    }
  }
}

// Slider

// .nivoSlider {
//   position: relative;
//   width: 100%;
//   height: auto;
// }

.theme-dark {
  margin: 40px 0;
  border: 2px solid #ececec;
  border-radius: 4px;
  .nivoSlider {
    margin-bottom: 0;
  }
}

.theme-dark .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 40px;
  text-indent: -9999px;
  border: 0;
  top: auto;
  bottom: -36px;
  z-index: 11;
  // background-color: #d9534f;
  border-radius: 2px;
  &:hover {
    background-color: transparent;
  }
}

.theme-dark a.nivo-prevNav {
  background-image: url(slider/prev.png);
  background-size: contain;
  background-position: center;
  top: 175px;
  left: 0;
  &:hover {
    background-image: url(slider/prev-hover.png);
  }
}

.theme-dark a.nivo-nextNav {
  background-image: url(slider/next.png);
  background-size: contain;
  background-position: center;
  top: 175px; 
  right: 0;
  &:hover {
    background-image: url(slider/next-hover.png);
  }
}
