<footer>
    <div class="container">
        <p class="pull-right text-right">
            <span>
                <a href="https://www.instagram.com/modphotolounge/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a> 
                <a href="https://www.facebook.com/ModPhotoLounge/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="https://twitter.com/ModPhotoLounge" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
            </span><br>
            &bull; A <%= link_to 'Cameron', '#' %> Design &bull;
        </p>
        <p>
            &copy; <%= Date.current.year %> Mod Photo Lounge LLC, Denver, Colorado. <strong style="color: #e74c3c; font-weight: normal;">&middot; 303.898.9070 &middot;</strong><br>
            A Denver Photo Booth Rental Company
        </p>
    </div>    
</footer>